.btn-group.special {
  display: flex;
  width:100%;
  overflow: auto;
}

.special .btn {
  flex: 1!important;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
	label.dyn-text { text-align:right; }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
	label.dyn-text { text-align:right; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
	label.dyn-text { text-align:right; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	label.dyn-text { text-align:right; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	label.dyn-text { text-align:right; }
}
